################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JoyControl-v2/FileContentIndex/cb495f47-1331-4fc5-b9f1-5da5b0281d26.vsidx
/.vs/JoyControl-v2/FileContentIndex/eb712f88-6c5d-45e2-b81d-21da4d81a5d6.vsidx
/.vs/JoyControl-v2/FileContentIndex/1f003885-7a80-4ef4-8629-ff18221e522d.vsidx
/.vs/JoyControl-v2/FileContentIndex/787a7112-4c42-44af-9732-89952d866015.vsidx
/.vs/JoyControl-v2/FileContentIndex/81add76e-1970-41a3-9ac9-dce03dc40172.vsidx
/.vs/JoyControl-v2/FileContentIndex/331483a6-097e-43dc-bb60-3980ff3f6ba9.vsidx
/.vs/JoyControl-v2/FileContentIndex
